@import url(https://fonts.googleapis.com/css?family=Khula:400,300);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s ease-out;
  &:focus{
    outline: none;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body{
  font-size: 14px;
  color: #fff;
  font-family: 'Khula', sans-serif;
}


@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.9);
  }
  100%{
    transform: scale(1);
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.rec{
  &-wrap{
    width: 1080px;
    margin: 0 auto;
    position: relative;
  }


  &-header{
    background: url(../../i/bg/main.png) no-repeat center;
    background-size: cover;
    min-height: 850px;
    padding: 30px 0 0;
    position: relative;
    transition: initial;
    &-nav{
      text-align: center;
      position: fixed;
      z-index: 5;
      left: 0;
      right: 0;
      top: 0;
      height: 70px;
      line-height: 70px;
      a{
        color: #01c2a6;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        margin: 0 15px;
        &.active, &:hover{
          color: #fff;
        }
      }
      &-login{
        position: absolute;
        right: 0;
        top: 0;
        transition: initial;
      }
      &.tiny {
        height: 40px;
        line-height: 40px;
        background: rgba(0, 89, 99, 0.53);
        transition: initial;
      }
    }

    &-content{
      text-align: center;
      margin: 120px 0 0;
      h2,h3,h1{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: lighter;
      }
      h3{
        width: 550px;
        margin: 0 auto;
        &:before,
        &:after{
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 25%;
          margin: 0 5%;
          height: 2px;
          background: #fff;
        }
      }
      h1{
        font-size: 60px;
        margin: 30px 0 10px;
      }
    }
  }


  &-content{
    position: relative;
    &-top{
      border-top: 60px solid #8babae;
      text-align: center;
      img{
        margin: -200px auto 0;
        width: 100%;
        max-width: 1080px;
      }
    }

    &-createAcc{
      background: #3ac0a6;
      padding: 25px 0;
      &-btn{
        background: none;
        border: 2px solid #fff;
        font-size: 30px;
        padding: 5px 30px;
        display: block;
        margin: 0 auto;
        position: relative;
        color: #fff;
        font-weight: lighter;
        cursor: pointer;
        &:hover{
          background: #fff;
          color: #3ac0a6;
        }
        &:active{opacity: .5;}

        &:before,
        &:after{
          content: '';
          position: absolute;
          top: 20px;
          width: 145%;
          height: 1px;
          background: #fff;
        }
        &:before{
          left: -152%;
        }
        &:after{
          right: -152%;
        }
      }
    }

    &-explain{
      h2{
        text-align: center;
        font-size: 52px;
        color: #009e88;
        font-weight: lighter;
        margin: 30px 0 0;
      }
      h3{
        text-align: center;
        color: #333333;
        font-size: 21px;
        font-weight: lighter;
        margin: 0 0 30px;
        line-height: 25px;
      }
      &-step{
        font-size: 0;
        &-item{
          width: 33.3333%;
          display: inline-block;
          vertical-align: top;
          font-size: 21px;
          text-align: center;
          &-img, img{
            display: inline-block;
          }
          &-img{
            position: relative;
            &:after{
              content: '';
              position: absolute;
              right: -200%;
              top: 50%;
              width: 202%;
              margin: -5px 0 0;
              height: 2px;
              background: #009e88;
            }
          }
          h2{
            font-size: 24px;
          }
          h3{
            font-size: 20px;
          }
        }
      }
    }

    &-contact{
      padding: 100px 0 0;
      &-title{
        &-deliver{
          display: table;
          padding: 0 0 50px;
          &:before,
          &:after{
            content: '';
            display: table-cell;
            border-top: 1px solid #a2d8d0;
            width: 50%;
          }
          img{
            padding: 0 36px;
            margin: -36px;
            width: 154px;
          }
        }
        h2{
          font-size: 45px;
          color: #059f88;
          font-weight: lighter;
          text-align: center;
        }
        h3{
          font-size: 21px;
          color: #333333;
          font-weight: lighter;
          text-align: center;
          line-height: 25px;

        }
      }

      &-form{
        padding: 40px 0 0;
        font-size: 0;
        &-left{
          display: inline-block;
          vertical-align: top;
          width: 49%;
          margin: 0 2% 0 0;
          font-size: 16px;
          input{
            width: 100%;
            color: #999999;
            border: 1px solid #cccccc;
            margin: 0 0 10px;
            padding: 7px;
            &:focus{
              border-radius: 8px;
              -webkit-box-shadow: 0 0 3px 0 #009e88;
              box-shadow: 0 0 3px 0 #009e88;
            }
          }
        }
        &-right{
          display: inline-block;
          vertical-align: top;
          width: 49%;
          font-size: 16px;
          textarea{
            width: 100%;
            color: #999999;
            border: 1px solid #cccccc;
            resize: none;
            padding: 7px;
            min-height: 113px;
            &:focus{
              border-radius: 8px;
              -webkit-box-shadow: 0 0 3px 0 #009e88;
              box-shadow: 0 0 3px 0 #009e88;
            }
          }
        }
        &-submit{
          background: none;
          display: block;
          margin: 20px auto 0;
          padding: 5px 12px 3px;
          border: 1px solid #999999;
          color: #666766;
          font-size: 18px;
          &:hover{
            background: #666766;
            color: #fff;
          }
          &:active{opacity: .5;}
        }
      }

      &-footerImg{
        img{
          width: 100%;
        }
      }
    }
  }


  &-footer{
    padding: 40px 0 10px;
    background: #005963;
    font-size: 0;
    -webkit-box-shadow:inset 0 20px 50px -20px #000000;
    box-shadow:inset 0 20px 50px -20px #000000;
    &-info{
      display: inline-block;
      vertical-align: top;
      width: 30%;
      h2{
        font-size: 14px;
        font-weight: lighter;
        line-height: 18px;
        a{
          text-decoration: none;
          color: #52c4ca;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    &-social{
      display: inline-block;
      vertical-align: top;
      width: 20%;
      a{
        margin: 0 20px 0 0;
        &:hover{
          animation: bounce .8s infinite;
        }
      }
    }

    &-touch{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 0;
      &-label{
        &-title{
          font-size: 14px;
          display: block;
        }
        &-input{
          width: 100%;
          position: relative;
          overflow: hidden;
          display: block;
          input{
            width: 100%;
            color: #999999;
            border: 1px solid #cccccc;
            margin: 0 0 10px;
            padding: 7px;
            background: none;
          }
          button{
            background: none;
            border: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
            &:after{
              content: '';
              display: inline-block;
              margin: 3px 10px 0 0;
              width: 17px;
              height: 17px;
              transform: rotate(45deg);
              border: 1px solid #fff;
              border-bottom: 0;
              border-left: 0;
              transition: all .2s ease-out;
            }
            &:focus:after{
              margin: 3px -30px 0 0;
            }
          }
        }
      }
    }

    &-copy{
      margin: 20px 0 0;
      padding: 20px 0 0;
      text-align: center;
      font-size: 12px;
      color: #cccccc;
      border-top: 1px solid #cccccc;
    }
  }
}






























