body{
  min-width: 320px;
}

.rec{
  &-header {
    min-height: 660px;
    &-nav a {
      font-size: 14px;
      margin: 0 5px;
    }
  }

  &-header-content{
    h2, h3 {
      font-size: 20px;
    }
    h1{
      font-size: 50px;
    }
  }

  &-content{
    &-createAcc-btn {
      font-size: 16px;
    }
    &-explain{
      h2 {
        font-size: 45px;
      }
      h3{
        font-size: 16px;
        line-height: 19px;
      }
      &-step-item h2{
        font-size: 25px;
        margin: 0;
      }
    }
    &-contact{
      &-title h3{
        font-size: 16px;
        line-height: 19px;
      }
      &-form{
        &-left,
        &-right{
          width: 100%;
        }
      }
    }
  }

  &-content-explain-step-item,
  &-footer-info,
  &-footer-social {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
  }
}




