.rec{
  &-header{
    &-content {
      h3 {
        width: 100%;
        &:after, &:before {
          width: 20%;
        }
      }
      img{
        width: 100px;
      }
    }
    &-nav-login {
      position: relative;
      right: 0;
      top: 0;
      display: inline-block;
    }
  }

  &-content{
    &-top {
      border-top: 20px solid #8babae;
      img {
        margin: -120px auto 0;
      }
    }

    &-explain-step-item {
      width: 50%;
      h3 {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }


  &-footer-social,
  &-footer-info{
    width: 50%;
  }
  &-footer-social{
    text-align: center;
  }
  &-footer-touch {
    width: 100%;
    margin: 20px 0;
  }

  &-footer-copy {
    margin: 0 0 0;
    padding: 15px 0 0;
  }
}












