.rec{
  &-wrap{
    width: 100%;
    padding: 0 10px;
  }

  &-content{
    &-explain-step-item{
      &-img:after{
        display: none;
      }
      h2{
        font-size: 22px;
      }
      h3 {
        font-size: 17px;
      }
    }
    &-createAcc-btn:before,
    &-createAcc-btn:after{
      display: none;
    }
  }

  &-footer-social a {
    margin: 0 15px 0 0;
  }
}








