@import url(https://fonts.googleapis.com/css?family=Khula:400,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s ease-out; }
  *:focus {
    outline: none; }

body {
  font-size: 14px;
  color: #fff;
  font-family: 'Khula', sans-serif; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.rec-wrap {
  width: 1080px;
  margin: 0 auto;
  position: relative; }

.rec-header {
  background: url(../../i/bg/main.png) no-repeat center;
  background-size: cover;
  min-height: 850px;
  padding: 30px 0 0;
  position: relative;
  transition: initial; }
  .rec-header-nav {
    text-align: center;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    line-height: 70px; }
    .rec-header-nav a {
      color: #01c2a6;
      text-decoration: none;
      font-size: 16px;
      display: inline-block;
      margin: 0 15px; }
      .rec-header-nav a.active, .rec-header-nav a:hover {
        color: #fff; }
    .rec-header-nav-login {
      position: absolute;
      right: 0;
      top: 0;
      transition: initial; }
    .rec-header-nav.tiny {
      height: 40px;
      line-height: 40px;
      background: rgba(0, 89, 99, 0.53);
      transition: initial; }
  .rec-header-content {
    text-align: center;
    margin: 120px 0 0; }
    .rec-header-content h2, .rec-header-content h3, .rec-header-content h1 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: lighter; }
    .rec-header-content h3 {
      width: 550px;
      margin: 0 auto; }
      .rec-header-content h3:before, .rec-header-content h3:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 25%;
        margin: 0 5%;
        height: 2px;
        background: #fff; }
    .rec-header-content h1 {
      font-size: 60px;
      margin: 30px 0 10px; }

.rec-content {
  position: relative; }
  .rec-content-top {
    border-top: 60px solid #8babae;
    text-align: center; }
    .rec-content-top img {
      margin: -200px auto 0;
      width: 100%;
      max-width: 1080px; }
  .rec-content-createAcc {
    background: #3ac0a6;
    padding: 25px 0; }
    .rec-content-createAcc-btn {
      background: none;
      border: 2px solid #fff;
      font-size: 30px;
      padding: 5px 30px;
      display: block;
      margin: 0 auto;
      position: relative;
      color: #fff;
      font-weight: lighter;
      cursor: pointer; }
      .rec-content-createAcc-btn:hover {
        background: #fff;
        color: #3ac0a6; }
      .rec-content-createAcc-btn:active {
        opacity: .5; }
      .rec-content-createAcc-btn:before, .rec-content-createAcc-btn:after {
        content: '';
        position: absolute;
        top: 20px;
        width: 145%;
        height: 1px;
        background: #fff; }
      .rec-content-createAcc-btn:before {
        left: -152%; }
      .rec-content-createAcc-btn:after {
        right: -152%; }
  .rec-content-explain h2 {
    text-align: center;
    font-size: 52px;
    color: #009e88;
    font-weight: lighter;
    margin: 30px 0 0; }
  .rec-content-explain h3 {
    text-align: center;
    color: #333333;
    font-size: 21px;
    font-weight: lighter;
    margin: 0 0 30px;
    line-height: 25px; }
  .rec-content-explain-step {
    font-size: 0; }
    .rec-content-explain-step-item {
      width: 33.3333%;
      display: inline-block;
      vertical-align: top;
      font-size: 21px;
      text-align: center; }
      .rec-content-explain-step-item-img, .rec-content-explain-step-item img {
        display: inline-block; }
      .rec-content-explain-step-item-img {
        position: relative; }
        .rec-content-explain-step-item-img:after {
          content: '';
          position: absolute;
          right: -200%;
          top: 50%;
          width: 202%;
          margin: -5px 0 0;
          height: 2px;
          background: #009e88; }
      .rec-content-explain-step-item h2 {
        font-size: 24px; }
      .rec-content-explain-step-item h3 {
        font-size: 20px; }
  .rec-content-contact {
    padding: 100px 0 0; }
    .rec-content-contact-title-deliver {
      display: table;
      padding: 0 0 50px; }
      .rec-content-contact-title-deliver:before, .rec-content-contact-title-deliver:after {
        content: '';
        display: table-cell;
        border-top: 1px solid #a2d8d0;
        width: 50%; }
      .rec-content-contact-title-deliver img {
        padding: 0 36px;
        margin: -36px;
        width: 154px; }
    .rec-content-contact-title h2 {
      font-size: 45px;
      color: #059f88;
      font-weight: lighter;
      text-align: center; }
    .rec-content-contact-title h3 {
      font-size: 21px;
      color: #333333;
      font-weight: lighter;
      text-align: center;
      line-height: 25px; }
    .rec-content-contact-form {
      padding: 40px 0 0;
      font-size: 0; }
      .rec-content-contact-form-left {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin: 0 2% 0 0;
        font-size: 16px; }
        .rec-content-contact-form-left input {
          width: 100%;
          color: #999999;
          border: 1px solid #cccccc;
          margin: 0 0 10px;
          padding: 7px; }
          .rec-content-contact-form-left input:focus {
            border-radius: 8px;
            box-shadow: 0 0 3px 0 #009e88; }
      .rec-content-contact-form-right {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        font-size: 16px; }
        .rec-content-contact-form-right textarea {
          width: 100%;
          color: #999999;
          border: 1px solid #cccccc;
          resize: none;
          padding: 7px;
          min-height: 113px; }
          .rec-content-contact-form-right textarea:focus {
            border-radius: 8px;
            box-shadow: 0 0 3px 0 #009e88; }
      .rec-content-contact-form-submit {
        background: none;
        display: block;
        margin: 20px auto 0;
        padding: 5px 12px 3px;
        border: 1px solid #999999;
        color: #666766;
        font-size: 18px; }
        .rec-content-contact-form-submit:hover {
          background: #666766;
          color: #fff; }
        .rec-content-contact-form-submit:active {
          opacity: .5; }
    .rec-content-contact-footerImg img {
      width: 100%; }

.rec-footer {
  padding: 40px 0 10px;
  background: #005963;
  font-size: 0;
  box-shadow: inset 0 20px 50px -20px #000000; }
  .rec-footer-info {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
    .rec-footer-info h2 {
      font-size: 14px;
      font-weight: lighter;
      line-height: 18px; }
      .rec-footer-info h2 a {
        text-decoration: none;
        color: #52c4ca; }
        .rec-footer-info h2 a:hover {
          text-decoration: underline; }
  .rec-footer-social {
    display: inline-block;
    vertical-align: top;
    width: 20%; }
    .rec-footer-social a {
      margin: 0 20px 0 0; }
      .rec-footer-social a:hover {
        -webkit-animation: bounce .8s infinite;
                animation: bounce .8s infinite; }
  .rec-footer-touch {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 0; }
    .rec-footer-touch-label-title {
      font-size: 14px;
      display: block; }
    .rec-footer-touch-label-input {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: block; }
      .rec-footer-touch-label-input input {
        width: 100%;
        color: #999999;
        border: 1px solid #cccccc;
        margin: 0 0 10px;
        padding: 7px;
        background: none; }
      .rec-footer-touch-label-input button {
        background: none;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        cursor: pointer; }
        .rec-footer-touch-label-input button:after {
          content: '';
          display: inline-block;
          margin: 3px 10px 0 0;
          width: 17px;
          height: 17px;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          border: 1px solid #fff;
          border-bottom: 0;
          border-left: 0;
          transition: all .2s ease-out; }
        .rec-footer-touch-label-input button:focus:after {
          margin: 3px -30px 0 0; }
  .rec-footer-copy {
    margin: 20px 0 0;
    padding: 20px 0 0;
    text-align: center;
    font-size: 12px;
    color: #cccccc;
    border-top: 1px solid #cccccc; }

@media all and (max-width: 1100px) {
  .rec-wrap {
    width: 100%;
    padding: 0 10px; }
  .rec-content-explain-step-item-img:after {
    display: none; }
  .rec-content-explain-step-item h2 {
    font-size: 22px; }
  .rec-content-explain-step-item h3 {
    font-size: 17px; }
  .rec-content-createAcc-btn:before, .rec-content-createAcc-btn:after {
    display: none; }
  .rec-footer-social a {
    margin: 0 15px 0 0; } }

@media all and (max-width: 768px) {
  .rec-header-content h3 {
    width: 100%; }
    .rec-header-content h3:after, .rec-header-content h3:before {
      width: 20%; }
  .rec-header-content img {
    width: 100px; }
  .rec-header-nav-login {
    position: relative;
    right: 0;
    top: 0;
    display: inline-block; }
  .rec-content-top {
    border-top: 20px solid #8babae; }
    .rec-content-top img {
      margin: -120px auto 0; }
  .rec-content-explain-step-item {
    width: 50%; }
    .rec-content-explain-step-item h3 {
      font-size: 16px;
      line-height: 19px; }
  .rec-footer-social, .rec-footer-info {
    width: 50%; }
  .rec-footer-social {
    text-align: center; }
  .rec-footer-touch {
    width: 100%;
    margin: 20px 0; }
  .rec-footer-copy {
    margin: 0 0 0;
    padding: 15px 0 0; } }

@media all and (max-width: 480px) {
  body {
    min-width: 320px; }
  .rec-header {
    min-height: 660px; }
    .rec-header-nav a {
      font-size: 14px;
      margin: 0 5px; }
  .rec-header-content h2, .rec-header-content h3 {
    font-size: 20px; }
  .rec-header-content h1 {
    font-size: 50px; }
  .rec-content-createAcc-btn {
    font-size: 16px; }
  .rec-content-explain h2 {
    font-size: 45px; }
  .rec-content-explain h3 {
    font-size: 16px;
    line-height: 19px; }
  .rec-content-explain-step-item h2 {
    font-size: 25px;
    margin: 0; }
  .rec-content-contact-title h3 {
    font-size: 16px;
    line-height: 19px; }
  .rec-content-contact-form-left, .rec-content-contact-form-right {
    width: 100%; }
  .rec-content-explain-step-item, .rec-footer-info, .rec-footer-social {
    width: 100%;
    text-align: center;
    margin: 10px 0 0; } }
